.idea
.gradle
build/
*.iml

local.properties

*xcuserdata
*xcworkspacedata

# vscode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
org.eclipse.buildship.core.prefs
.project
.classpath